html body {
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #311847;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.loading-screen {
  width: 97%;
  height: 97vh;
  display: flex;
    justify-content: center;
    align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
  margin: 0px 20px 20px 0px;
  color: white;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #e09f7d transparent #e09f7d transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

img {
  width: 200px;
}

button {
  border: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
  margin: 2px;
}

button.light {
  background-color: #ec4067;
  font-size: 16px;
}

button.dark {
  background-color: #311847;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  background-color: #e09f7d;
}

input {
  border: 0px solid white;
  margin: 2px;
  padding: 3px;
  font-size: 16px;
}

textarea {
  border: 0px solid white;
  margin: 2px;
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 400px;
}

#spotify-sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#youtube-url {
  width: 500px;
}

#youtube-playlist-listing {
  margin-top: 20px;
}

.make-public-playlist {
  display: grid;
  width: 1060px;
  height: 150px;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: 550px 195px 315px;
  grid-template-rows: 30px 60px 60px;
  grid-template-areas:
    "playlist-name playlist-image image-upload"
    "playlist-description playlist-image image-upload"
    "playlist-description playlist-image make-playlist";
  color: white;
  background-color: #a01a7d;
}

.playlist-name {
  display: flex;
  flex-direction: row;
  height: fit-content;
  grid-area: playlist-name;
}

.playlist-description {
  display: flex;
  flex-direction: row;
  grid-area: playlist-description;
}

#playlist-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  grid-area: playlist-image;
  justify-self: center;
}

.playlist-name label {
  width: 125px;
}

.playlist-description label {
  width: 125px;
}

.image-upload {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-area: image-upload;
  align-items: flex-start;
}

input[type="file" i] {
  margin-left: 0px;
  padding: 0px;
}

input::file-selector-button {
  background-color: #311847;
  font-size: 16px;
  color: white;
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
  margin: 2px;
}

input::file-selector-button:hover {
  cursor: pointer;
  background-color: #e09f7d;
}

#make-playlist {
  grid-area: make-playlist;
  height: fit-content;
  align-self: flex-end;
  width: fit-content;
}

.converter-search-results {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  background-color: #a01a7d;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.spotify-track-listing {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 10px;
  max-width: fit-content;
  background-color: #ec4067;
  align-items: center;
}

.original-search-results {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.youtube-search-result {
  display: flex;
  flex-direction: column;
  width: 350px;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.spotify-search-result {
  display: flex;
  flex-direction: column;
  width: 350px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.spotify-search-result p,
h3 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.new-spotify-search-results {
  margin-top: 10px;
}

.new-spotify-search-result {
  display: flex;
  flex-direction: column;
  width: 190px;
  padding: 5px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 5px 0px 5px 5px;
  background-color: #ef5d60;
}

.new-spotify-search-result:hover {
  cursor: pointer;
  background-color: #e09f7d;
}

.new-spotify-search-result.selected-track {
  border: solid 5px #e09f7d;
  padding: 0px 0px;
}

.new-spotify-search-result p,
h3 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.new-spotify-search-result img {
  width: 100px;
}

.spotify-track-listing-buttons {
  display: flex;
  flex-direction: column;
  width: 350px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.spotify-track-listing-buttons button {
  margin: 20px;
}

.search-new-tracks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.playlist-created {
  margin: 20px;
}

a {
  color: white;
}
